[package]
name = "zero2prod"
version = "0.1.0"
authors = ["Vyasa M Nayak <septicalls@proton.me>"]
edition = "2021"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "zero2prod"

[dependencies]
actix-web = "4.3.1"
tokio = "1.31.0"
